.popup-wrapper {
    visibility: hidden;
    position: fixed;
    opacity: 0;
}

.popup-wrapper:target {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 99999999999;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}

@media (min-width: 768px) {
    .popup-container {
        width: 600px;
    }
}

@media (max-width: 767px) {
    .popup-container {
        width: 100%;
    }
}

.popup-container {
    position: relative;
    margin: 8% auto;
    padding: 30px 50px;
    background-color: #fff;
}

.popup-close {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #fff;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #333;
}

.red_me_please {
    color:red;
}
